!!! 5
html
  head
    title= "Hey heres some content and stuff"
  body
    p= "Hey heres somfsdfe content and stuff"
  form(name="test" action="new_user" method="post")
    Username: 
    input(type="text" name="user")
    input(type="submit" value="Submit")
    